# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Ignore all PDF files
*.pdf
*.txt
*.csv

# Ignore output files
*.json
*.txt
*.log

# Ignore VS Code settings
.vscode/
venv/
